html,
body {
    height: 100%;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    background: #2f5d38 url("../img/bg.jpg")fixed;;
}

.wrap > .container {
    padding: 10px 15px 20px;
    background: white;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.logo {
    margin:20px 0px 0px 40px;
    float:left;
}

.header > .block-title {
    float:left;
    margin:25px 50px 0px 20px;
}

.header > .block-title > .title{
    display:block;
    width:635px;
}

.header > .block-title > .title > .text{
    font-size:180%;
    font-weight: bold;
    color:green;
}

.header > .block-time{
    float:left;
    margin-top:55px;
    margin-right:30px;
    color:orange;
    text-align:right;
}

.header > .block-contact{
    float:left;
    margin-top:45px;
    text-align:right;
    color:green
}

#header .middle-h-row, #header .catalog_menu {
    margin: 0 auto;
    position: relative;
    zoom: 1;
    z-index: 3;
}

.wrapper_inner {
    padding: 0 24px;
    max-width: 1208px;
    margin: 0 auto;
    background: #fff;
}

.wrapper, .wrapper_inner, .wrapp {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    zoom: 1;
    z-index: 1;
}

#header .catalog_menu .wrapper_middle_menu {
    position: relative;
}

.colored #header .catalog_menu ul.menu>li, header .wrap_menu {
    background: #81a732;
}

header .wrap_menu {
    position: relative;
    height: 47px;
    border-radius: 0px;
    overflow: hidden;
    background: #fff;
}

header .wrapper_middle_menu *, .menu_top_block * {
    box-sizing: border-box;
}

ul.menu, ul.mini-menu {
    text-align: justify;
    list-style-type: none;
    font-size: 0px;
    line-height: 0;
    zoom: 1;
}

.adaptive {
    display: none;
}

#header .catalog_menu .wrap_menu ul.menu.adaptive > li.menu_opener {
    border: 0px;
    display: block;
    width: 100%;
    padding: 0px 17px;
}

#header .catalog_menu ul.menu>li, #header ul.menu.adaptive:not(.opened) li.menu_opener, #header ul.menu.full.opened li:not(.search_row):hover, #header ul.menu.full.opened li.current {
    border-bottom: 1px solid #5a7d24;
}

.header_wrap #header .catalog_menu ul.menu.adaptive > li {
    height: 47px;
    line-height: 47px;
    position: relative;
}

.colored #header .catalog_menu ul.menu>li, header .wrap_menu {
    background: #81a732;
}

.header_wrap #header .catalog_menu ul.menu > li {
    height: 47px;
    background: none;
}

.header_wrap #header .catalog_menu ul.menu > li > a, .header_wrap #header .catalog_menu ul.menu.adaptive > li .text {
    color: #fff;
    border: 0px !important;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
}

.left-block {
    width: 220px;
    float: left;
    position: relative;
    zoom: 1;
    z-index: 390;
    padding-top: 0px;
}

.right-block {
    padding-left: 244px;
    overflow: visible;
    position: relative;
}
