.img_wrapper {
    padding: 2% 0 0 2%;
}
#mobile-menu > .menu_opener > .text {
    background: #5cb85c;
}
.treeview-menu > li {
    padding-left: 30px;
}

@media (max-width: 470px){
    .category_catalog_name {
        margin-top: 8%;
        margin-left: -8%;
    }
    .image_wrapper_block, .image_wrapper_block a {
        max-width: 170px;
        min-width: 70px;
        height: 50px;
        line-height: 170px;
        margin: 0 auto;
        padding: 0;
        vertical-align: middle;
        text-align: center;
        zoom: 1;
        display: block;
    }
    .sort_header.view_block{
        display: none;
    }
    .display_list
    {
        margin-top: 0px;
        padding: 25px 0px 30px;
    }
    .catalog_detail .item_main_info {
        display: block;
    }
    .img_wrapper> img{
        width: 98%;
        height: 100%;
    }
}